<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>odwa</h1>

    <form action="/add-books/" method="POST">
        <h3>Student Information</h3>


        title<br>
        <input type="text" name="title"><br>

        author<br>
        <input type="text" name="author"><br>

        Genres<br>
        <input type="text" name="genres"><br>

        originally_published<br>
        <input type="text" name="op"><br>

        price<br>
        <input type="text" name="price"><br>

        images<br>
        <input type="text" name="images"><br>

        <input type="submit" value="submit"><br>
    </form>

</body>

</html>